<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Services</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">
        When you join with us for your next kayaking adventure you can experience these services offer by Kayak Advanture to you.
      </p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-cyan-500 inline-flex"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6 items-center justify-center">
      <div class="p-4 md:w-1/5 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-cyan-100 mb-5 flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="#06B6D4">
            <rect fill="none" height="24" width="24"/>
            <path d="M6,3l0,6c0,2.97,2.16,5.43,5,5.91V19H8v2h8v-2h-3v-4.09c2.84-0.48,5-2.94,5-5.91l0-6H6z M16,8H8l0-3h8C16,5,16,8,16,8z"/>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Welcome Drink</h2>
        </div>
      </div>
      <div class="p-4 md:w-1/5 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-cyan-100 mb-5 flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" viewBox="0 0 24 24" fill="#06B6D4">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M13 3H6v18h4v-6h3c3.31 0 6-2.69 6-6s-2.69-6-6-6zm.2 8H10V7h3.2c1.1 0 2 .9 2 2s-.9 2-2 2z"/>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Car Parking</h2>
        </div>
      </div>
      <div class="p-4 md:w-1/5 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-cyan-100 mb-5 flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="#06B6D4">
            <rect fill="none" height="24" width="24"/>
            <path d="M21.6,18.2L13,11.75v-0.91c1.65-0.49,2.8-2.17,2.43-4.05c-0.26-1.31-1.3-2.4-2.61-2.7C10.54,3.57,8.5,5.3,8.5,7.5h2 C10.5,6.67,11.17,6,12,6s1.5,0.67,1.5,1.5c0,0.84-0.69,1.52-1.53,1.5C11.43,8.99,11,9.45,11,9.99v1.76L2.4,18.2 C1.63,18.78,2.04,20,3,20h9h9C21.96,20,22.37,18.78,21.6,18.2z M6,18l6-4.5l6,4.5H6z"/>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Changing Facilities</h2>
        </div>
      </div>
      <div class="p-4 md:w-1/5 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-cyan-100 mb-5 flex-shrink-0">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="#06B6D4">
            <path d="M0,0h24v24H0V0z" fill="none"/>
            <circle cx="8" cy="17" r="1"/>
            <circle cx="12" cy="17" r="1"/>
            <circle cx="16" cy="17" r="1"/>
            <path d="M13,5.08V3h-2v2.08C7.61,5.57,5,8.47,5,12v2h14v-2C19,8.47,16.39,5.57,13,5.08z"/>
            <circle cx="8" cy="20" r="1"/>
            <circle cx="12" cy="20" r="1"/>
            <circle cx="16" cy="20" r="1"/>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Bathroom</h2>
        </div>
      </div>
      <div class="p-4 md:w-1/5 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-cyan-100 mb-5 flex-shrink-0">
          <img src="../../assets/life-jacket.png" class="w-10 h-10">
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Life Jacket</h2>
        </div>
      </div>
      <div class="p-4 md:w-1/5 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-cyan-100 mb-5 flex-shrink-0">
          <img src="../../assets/sunset.png" class="w-10 h-10">
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Watch Sunset</h2>
        </div>
      </div>
      <div class="p-4 md:w-1/5 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-cyan-100 mb-5 flex-shrink-0">
          <img src="../../assets/bird.png" class="w-10 h-10">
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Bird Watching</h2>
        </div>
      </div>
      <div class="p-4 md:w-1/5 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-cyan-100 mb-5 flex-shrink-0">
          <img src="../../assets/harbour.png" class="w-10 h-10">
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Visit Dodanduwa Harbour</h2>
        </div>
      </div>
    </div>
  </div>
</section>
