<section>
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">Gallery</h1>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-cyan-500 inline-flex"></div>
      </div>
    </div>
    <div class="grid gap-4 justify-items-center">
      <div>
        <img class="h-auto max-w-full rounded-lg" src="../../assets/kayak-img-01.jpeg"
          alt="">
      </div>
      <div class="grid grid-cols-5 gap-4">
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="../../assets/Gallery/image8.jpg" alt="">
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="../../assets/Gallery/image2.jpg" alt="">
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="../../assets/Gallery/image3.jpg" alt="">
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="../../assets/Gallery/image4.jpg" alt="">
        </div>
        <div>
          <img class="h-auto max-w-full rounded-lg"
            src="../../assets/Gallery/image5.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
