<nav class="bg-white">
  <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize">
    <a href="#"
      class="text-gray-800 transition-colors duration-300 transform border-b-2 border-blue-500 mx-1.5 sm:mx-6">home</a>

    <a href="#"
      class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform hover:border-blue-500 mx-1.5 sm:mx-6">About</a>

    <a href="#"
      class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform hover:border-blue-500 mx-1.5 sm:mx-6">Features</a>

    <a href="#"
      class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform hover:border-blue-500 mx-1.5 sm:mx-6">Gallery</a>

    <a href="#"
      class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform hover:border-blue-500 mx-1.5 sm:mx-6">Contact</a>

    <a href="#"
      class="border-b-2 border-transparent hover:text-gray-800 transition-colors duration-300 transform hover:border-blue-500 mx-1.5 sm:mx-6">
      <svg class="w-8 h-8 text-white p-2 bg-blue-600 rounded-lg stroke-1 stroke-white" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
        <path fill-rule="evenodd"
          d="M13.1 6H15V3h-1.9A4.1 4.1 0 0 0 9 7.1V9H7v3h2v10h3V12h2l.6-3H12V6.6a.6.6 0 0 1 .6-.6h.5Z"
          clip-rule="evenodd" />
      </svg>
    </a>
  </div>
</nav>
